.deletePageButton{
    border-radius: 4px;
    height: 40px;
    width: 150px;
    box-shadow: 0 5px 10px rgba(128,128,128,.5);
    color: red !important;
    background-color: white !important;
}

.deletePageButton:hover{
    background-color: rgba(25, 118, 210, 0.02) !important;
}