.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header{
    font-size: 15px;
}

.reason{
    display: flex;
    gap: 10px;
    border-radius: 5px;
    min-height: 20px;
    font-size: 13px;
    align-items: center;
}